In [1319]:
a,b,c = "good", "morning",18
print(a,b,c)

good morning 18

In [1320]:
x= y = z =1001
print(x,y,z)

1001 1001 1001

In [1321]:
A = B, C= "College" , 25
print(B, C, A)

College 25 ('College', 25)

In [1322]:
A =10
B =20
print("Addition of",A,"and",B,"is =",A+B )

Addition of 10 and 20 is = 30

In [1323]:
A=10
print(type(A))

<class 'int'>

In [1324]:
X = 35
print(type(x))

<class 'int'>

In [1325]:
college = -100
print(type (college))

<class 'int'>

In [1326]:
value = 0
print(type(value))

<class 'int'>

In [1327]:
system = +200
print(type(system))

<class 'int'>

In [1328]:
 value = 3.33
 print(type(value))

<class 'float'>

In [1329]:
name =-100.33
print(type(name))

<class 'float'>

In [1330]:
name = 100/7
print(type(name))

<class 'float'>

In [1331]:
yes = True
print(type(yes))

<class 'bool'>

In [1332]:
yes = "False"
print(type(yes))

<class 'str'>

In [1333]:
value = 27.12
print(type(value))

<class 'float'>

In [1334]:
section = '''c'''
print(type(section))

<class 'str'>

In [1335]:
programe = """ programe"""
print(type(programe))

<class 'str'>

In [1336]:
String = "python programming language"

print(String)

python programming language

In [1337]:
first = "BK\n"
second = "college\n"
print(first+second*5)

BK
college
college
college
college
college

In [1338]:
Number = 78*3
print(type(Number))

<class 'int'>

In [1339]:
first = "BK"
SECOND = "college"
print(((first +" "+second)+"\n")*5)

BK college

BK college

BK college

BK college

BK college

In [1340]:
name = "python programming languages"
print(name[5])
print(name[-2])
print(name[18])
print(name[3:14])
print(name[:20])
print(name[6:])
print(name[:-1])
print(name[-22:-4])
print(name[::1])
print(name[::2])
print(name[::-1])
print(name[::-3])
print(name[::-4])

n
e

hon program
python programming l
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp
sulirph

In [1341]:
 Details ='''multi line comments
hi, Good Morning
'''
print(Details)

multi line comments
hi, Good Morning