In [1125]:
a,b,c = "good", "morning",18
print(a,b,c)

good morning 18

In [1126]:
x= y = z =1001
print(x,y,z)

1001 1001 1001

In [1127]:
A = B, C= "College" , 25
print(B, C, A)

College 25 ('College', 25)

In [1128]:
A =10
B =20
print("Addition of",A,"and",B,"is =",A+B )

Addition of 10 and 20 is = 30

In [1129]:
A=10
print(type(A))

<class 'int'>

In [1130]:
X = 35
print(type(x))

<class 'int'>

In [1131]:
college = -100
print(type (college))

<class 'int'>

In [1132]:
value = 0
print(type(value))

<class 'int'>

In [1133]:
system = +200
print(type(system))

<class 'int'>

In [1134]:
 value = 3.33
 print(type(value))

<class 'float'>

In [1135]:
name =-100.33
print(type(name))

<class 'float'>

In [1136]:
name = 100/7
print(type(name))

<class 'float'>

In [1137]:
yes = True
print(type(yes))

<class 'bool'>

In [1138]:
yes = "False"
print(type(yes))

<class 'str'>

In [1139]:
value = 27.12
print(type(value))

<class 'float'>

In [1140]:
section = '''c'''
print(type(section))

<class 'str'>

In [1141]:
programe = """ programe"""
print(type(programe))

<class 'str'>

In [1142]:
String = "python programming language"

print(String)

python programming language

In [1143]:
first = "BK\n"
second = "college\n"
print(first+second*5)

BK
college
college
college
college
college

In [1144]:
Number = 78*3
print(type(Number))

<class 'int'>

In [1145]:
first = "BK"
SECOND = "college"
print(((first +" "+second)+"\n")*5)

BK college

BK college

BK college

BK college

BK college

In [1146]:
name = "python programming languages"
print(name[5])
print(name[-2])
print(name[18])
print(name[3:14])
print(name[:20])
print(name[6:])
print(name[:-1])
print(name[-22:-4])
print(name[::1])
print(name[::2])
print(name[::-1])
print(name[::-3])
print(name[::-4])

n
e

hon program
python programming l
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp
sulirph

In [1147]:
 Details ='''multi line comments
hi, Good Morning
'''
print(Details)

multi line comments
hi, Good Morning

In [1148]:
list1 = [101]
print(list1)
print(type(list1))
list1. append("shrushti")
print(list1)

[101]
<class 'list'>
[101, 'shrushti']

In [1149]:
details = [101]
print(details) #101
print(type(details))#list
details.append(85.12)
print(details)# 101
details. append (True)
print(details)# 101, 85.12 True
print(len(details))
print(details.pop())
print(details)
details.append("shrushti")
print(details)
details.append(-99)
print(details)
print(len(details))
print(details[2])
print(details[-1])
details.append("B.K College")
print(details)
details[3]= 90
print(details)
print("shrushti99")
print(details[2:4])
details.insert(2,False)
print(details)
print(len(details))
print(details[4])
print(details[::-1])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'shrushti']
[101, 85.12, 'shrushti', -99]
4
shrushti
-99
[101, 85.12, 'shrushti', -99, 'B.K College']
[101, 85.12, 'shrushti', 90, 'B.K College']
shrushti99
['shrushti', 90]
[101, 85.12, False, 'shrushti', 90, 'B.K College']
6
90
['B.K College', 90, 'shrushti', False, 85.12, 101]
1
None
[]
<class 'list'>

In [1150]:
Information=[110]
print(Information)#110
print(type(Information))#list
Information.append(80.20)
print(Information)# 110,80.20
Information.append(True)
print(Information)#110,80.20
print(len(Information))
print(Information.pop())
print(Information)
print("shrushti")
Information.append("shrushti")
print(Information)
Information.append(-97)
print(Information)
print(len(Information))
print(Information[3])
print(Information[-2])
Information.append("B.K.College")
print(Information)
print(len(Information))
Information[4]=97
print(Information)
print("shrushti97")
print(Information[3:2])
Information.insert(4,False)
print(Information)
print(Information[3])
print(Information[::-2])
print(Information.count(110))

[110]
<class 'list'>
[110, 80.2]
[110, 80.2, True]
3
True
[110, 80.2]
shrushti
[110, 80.2, 'shrushti']
[110, 80.2, 'shrushti', -97]
4
-97
shrushti
[110, 80.2, 'shrushti', -97, 'B.K.College']
5
[110, 80.2, 'shrushti', -97, 97]
shrushti97
[]
[110, 80.2, 'shrushti', -97, False, 97]
-97
[97, -97, 80.2]
1

In [1151]:
#address 2010
print(3+3)

6

In [1152]:
Example = (1,"Shrushti",3.12,False,1)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])

(1, 'Shrushti', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'Shrushti', 3.12)
False
1

In [1153]:
Number = (2,4,7,9,3,2)
print(Number)
add = (2,4,5,7)
print(Number+add)
print(add *4)

(2, 4, 7, 9, 3, 2)
(2, 4, 7, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [1154]:
example = {1,2,3,4,5}
print(example)
print(type(example))
print(len(example))
example.add(10)
print(example)
example.add("B.K.C")
print(example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 'B.K.C', 10}

In [1155]:
example = {1,2,3,4,5,6,7}
print(example)
print(type(example))
print(len(example))
example.add("BKC")
print(example)
example.add(5.67)
print(example)
example.add ("True")
print(example)
print(example.pop())
print(example)
example.remove(4)
print(example)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'True', 'BKC'}
1
{2, 3, 4, 5, 6, 7, 5.67, 'True', 'BKC'}
{2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}

In [1156]:
first = {1,2,3,4,4,2}
second = {3,5,4,4,6}
print(first | second)
print(first.union(second))
print(first & second)
print(first.intersection(second))
print(first- second)
print(first.difference(second))
print(second-first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [1157]:
Dict = {"Roll_number" :   101,
        "Name"        :   "Shrushti",
        "Address"     :   "Chikodi",
        "CGPA"        :    7.53,
        "Course"      :    "BCA",
        "Year"        :     2025
}
print(Dict)
print(len(Dict))
Dict["Gender"] =  "Female"
print(Dict)
Dict["College"] = "Majalatti"
print(Dict)
Dict["College"] = "Rani chennamma university"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] =" Female"
print(Dict)
print(Dict["College"])
Dict["Age"] = 18
print(Dict["Age"])
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}
{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Majalatti'}
{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Rani chennamma university'}
{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Rani chennamma university'}
{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Rani chennamma university', 'Gender': ' Female'}
Rani chennamma university
18
{'Roll_number': 101, 'Name': 'Shrushti', 'Address': 'Chikodi', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Rani chennamma university', 'Gender': ' Female'}
dict_keys(['Roll_number', 'Name', 'Address', 'CGPA', 'Course', 'Year', 'College', 'Gender'])
dict_values([101, 'Shrushti', 'Chikodi', 7.53, 'BCA', 2025, 'Rani chennamma university', ' Female'])
dict_items([('Roll_number', 101), ('Name', 'Shrushti'), ('Address', 'Chikodi'), ('CGPA', 7.53), ('Course', 'BCA'), ('Year', 2025), ('College', 'Rani chennamma university'), ('Gender', ' Female')])
None

In [1158]:
  Empy = {"Empy_id" : 176,
          "Empy name" : "sakshi",
          "Empy contact no" : 5566778899,
          "Empy salary" : 50000,
          "Empy_id" : "sakshi@gmail.com",
          "company" : "TATA",
          "empy_habbit" : "reading book"
  }
  print(Empy)
  print(len(Empy))
  Empy["Department"] = "Data entry"
  print(Empy)
  Empy["Country"] ="India"
  print(Empy)
  print(len(Empy))

{'Empy_id': 'sakshi@gmail.com', 'Empy name': 'sakshi', 'Empy contact no': 5566778899, 'Empy salary': 50000, 'company': 'TATA', 'empy_habbit': 'reading book'}
6
{'Empy_id': 'sakshi@gmail.com', 'Empy name': 'sakshi', 'Empy contact no': 5566778899, 'Empy salary': 50000, 'company': 'TATA', 'empy_habbit': 'reading book', 'Department': 'Data entry'}
{'Empy_id': 'sakshi@gmail.com', 'Empy name': 'sakshi', 'Empy contact no': 5566778899, 'Empy salary': 50000, 'company': 'TATA', 'empy_habbit': 'reading book', 'Department': 'Data entry', 'Country': 'India'}
8

In [1159]:
Name = { "Name"    :  "Shrushti",
         "name"    :  "Shrushti",
         "F_name"  :  "Shrushti",
         "L_name"  :  "Shrushti"
}
print(Name)

{'Name': 'Shrushti', 'name': 'Shrushti', 'F_name': 'Shrushti', 'L_name': 'Shrushti'}

In [1160]:
a = 10
b = 3
c = a/b
print(type(a))
print(type(b))
print(type(a/b))
a,b,c =2.5,3.5,a+B
print(type(a+b))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>

In [1161]:
x = 2.5
y = 3.5
print(type(x+y))

<class 'float'>

In [1162]:
i = 20
j = 5.5
k = i+j
print(type(k))

<class 'float'>

In [1163]:
#int->float
a = 49
b = 7
print(type(a/b))

<class 'float'>

In [1164]:
i = True
print(type(i))
j = 5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [1165]:
m = 2.9
n = False
o = m - n
print(type(o))

<class 'float'>

In [1166]:
p = True
q = False
R= p+q
print(type(R))

S = 2.6
T = False
print(type(S*T))

<class 'int'>
<class 'float'>

In [1167]:
num = 1.23
print(type(1.23))
add = int(num)
print(type(add))
num = 1.23
print(type(num))

<class 'float'>
<class 'int'>
<class 'float'>

In [1168]:
mul = float(add)
print(type(mul))

<class 'float'>

In [1169]:
# str ->list
num1 = "sakshi"
print(type(num1))

<class 'str'>

In [1170]:
ex1 = print(type(ex1))
list(num1)

<class 'NoneType'>

['s', 'a', 'k', 's', 'h', 'i']

In [1171]:
#2) tuple->list
num2 = (1,2,3,4,5)
print(type(num2))

<class 'tuple'>

In [1172]:
ex2 = list(num2)
print(type(ex2))

<class 'list'>

In [1173]:
#3)set->list
num3 = {1,2,3,4,5}
print(type(num3))

<class 'set'>

In [1174]:
#4) dict ->list
num4={}
print(type(num4))

<class 'dict'>

In [1175]:
ex4 = list (num4)
print(type(ex4))

<class 'list'>

In [1176]:
# tuple ->list
num1 = "sakshi"
print(type(num1))

ex1 = print(type(ex1))
list(num1)
#2) tuple->list
num2 = (1,2,3,4,5)
print(type(num2))

<class 'str'>
<class 'NoneType'>
<class 'tuple'>

In [1177]:
#1)list->dict
num2 =[("a",1),("b",2),("c",3)]
ex2 = dict(num2)
print(type(ex2))
#2)tuple->dict
num3 = (1,2,3,4,5)
print(type(num3))
ex3 = set(num3)
print(type(ex3))

#3)set->dict
num4 = {1,2,3,4,5}
print(type(num4))

ex4 = tuple(num4)
print(type(ex4))

#3)set->dict
num = {("Roo_number",101),("Section",C)}
print(type(num4))

ex4 = dict(num)
print(type(ex4))

<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [1178]:
A = 10
B = 20
print("Before Swapping")
print("A=",A,"B=",B)
print("===================")
print("After Swapping")
A,B = B,A
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
===================
After Swapping
A= 20 B= 10

In [1179]:
A =10
B =20
print("Before Swapping")
print("A=",A,"B=",B)

print("After Swapping")
temp = A
A = B
B = temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10

In [1180]:
X = 10
Y = 20
print("Before Swapping")
print("X=",X,"Y=",Y)
print("After Swapping")
X = X+Y
y = x-y
X = X-Y
print("X=",X,"Y=",y)

Before Swapping
X= 10 Y= 20
After Swapping
X= 10 Y= -1.0