In [ ]:
i = input("enter the value :i")
j = input("enter the value :j")
print(i +" " +j)

enter the value :iBK
enter the value :jcollege
BK college

In [ ]:
x = 100
y = 50
print(f'Addition of {x} and {y} value is = {x+y}')
print(f'Division of {x} and {y} value is = {x/y}')

Addition of 100 and 50 value is = 150
Division of 100 and 50 value is = 2.0

In [ ]:
name = "shrushti"
course = "MCA"
year = 2022
Department = "BCA"
pincode = 592216
print(f"Hi,Good morning My name is {name}, i have complited {course} in the {year}, corrently i'm wirking in KLE BK {Department}, college Chikkodi {pincode}")

Hi,Good morning My name is shrushti, i have complited MCA in the 2022, corrently i'm wirking in KLE BK BCA, college Chikkodi 592216

In [ ]:
x = 100
y = 50
print(f'addition of{x} and {y} value is = {x+y}')
print(f'substraction of{x} and {y} value is = {x-y}')
print(f'multiplication of{x} and {y} value is = {x*y}')
print(f'division of{x} and {y} value is = {x/y}')

addition of100 and 50 value is = 150
substraction of100 and 50 value is = 50
multiplication of100 and 50 value is = 5000
division of100 and 50 value is = 2.0

In [ ]:
Num1 = int(input("enter the value :"))
Num2 = int(input("enter the value :"))
print("Addision of two number is :" ,Num1 + Num2)
print()
print("substraction of two number is : " ,Num1 - Num2)
print()
print("Multiplication of two number is :" ,Num1 * Num2 )
print()
print("division of two number is :" ,Num1 / Num2)
print()
print("Floor Division of two is :" ,Num1 // Num2)
print()
print("Modulus of two numbers is : " ,Num1 % Num2)

enter the value :10
enter the value :5
Addision of two number is : 15

substraction of two number is :  5

Multiplication of two number is : 50

division of two number is : 2.0

Floor Division of two is : 2

Modulus of two numbers is :  0

In [ ]:
number1 = 35
number2 = 40
print(number1>number2)
print(number1<number2)
print(35==number2)
print(number1!=number2)
print(number1>=40)
print(number1<=number2)

False
True
False
True
False
True

In [ ]:
 a = 20
b = 35
c = 13
d = 10
print( a == b and c < d)
print( 13 != c and d < c)
print( b > a and d<c )
print(20 != a and c==b)
print(a<b or b==c)
print((not(a < b))and 100 < 200)
print(not(d ==10))
print(35 != d or (not(20==a)))
print(not(c<=b and (not(a<= c))))

False
False
True
False
True
False
False
True
False

In [ ]:
x = 10
print(x)
x -= 2
print(x)
x *= 5
print(x)
x //=3
print(x)
x **=2
print (x)
x %= 4
print(x)
x+=9
print(x)
x /=3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [ ]:
Num = 9
if Num < 10 :
  print("10 is a greater than 9")

10 is a greater than 9

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
  print("Login Successfully")

Login Successfully

In [ ]:
Ex = 59
if Ex == 58 :
  print("are you understand")

In [ ]:
Name  = "Shrushti"
if Name <= "BK" :
  print("My name is Shrushti")

In [ ]:
Num = int(input("enter a number value"))
if Num > 0 :
  print("positive number")
else :
    print("nagetive number")

enter a number value5
positive number

In [ ]:
num = int(input("enter a number value :"))
if num % 2 == 0:
  print("even number")
else :
  print("odd number")

enter a number value :45
odd number

In [ ]:
year = int(input("enter a year value :"))
if year % 4 == 0:
  print("Leap year")
else :
  print("Not Leap yesr")

enter a year value :2025
Not Leap yesr

In [ ]:
Age = int(input("enter a year value :"))
if Age >= 18:
  print("they are eligible for voting")
else :
  print("they have to wait")

enter a year value :24
they are eligible for voting

In [ ]:
User_id = "12MCA345"
Password = 121234
if User_id == "12MCA345" and Password == 121234:
  print("Login Successfully")
else :
  print("Login Failed")

Login Successfully

In [ ]:
user_id = input("enter user_id value")
password = int(input("enter password value :"))
if user_id == "college" and password ==1234 :
  print("login successfully")
else :
  print("Invalid credentials")

enter user_id valuecollege
enter password value :1234
login successfully

In [ ]:
marks =int(input("enter the marks :"))
if marks >= 85 :
  print("distinction")
elif marks >= 70 :
  print("frist class")
elif marks >=55 :
  print("second clas")
elif marks >=35 :
  print("just pass")
else :
  print("fail better luck next time")

enter the marks :88
distinction

In [ ]:
prize = input("enter the medal :")
if prize == "Gold" :
  print("first prize")
elif prize == "silver" :
  print("second prize")
elif prize == "bronze" :
  print("third prize")
elif prize == "certificatr" :
  print("samadankar bahuman")
else :
  print("better luck next chance")

enter the medal :silver
second prize

In [ ]:
signels = input("enter the signel :")
if signels == "red" :
  print("stop")
elif signels == "yellow" :
  print("ready")
elif signels == "green" :
  print("go")

enter the signel :red
stop

In [ ]:
num = int(input("enter the value"))
if num > 0 :
  if num == 0 :
    print("zero value")
  else :
    print("positive number")
else :
    print("nagetive number")

enter the value-8
nagetive number

In [ ]:
a,b,c = 25,35,15
if a >b :
  if a > c :
    print("a is greatest number")
  else :
    print("c is greatest number")
else :
  if b > c :
    print("b is greatest number")
  else :
    print("c is greatest number")

b is greatest number

In [ ]:
a,b,c = 25,35,15
if a >b :
  if a > c :
    print("a is smallest number" ,a)
  else :
    print("c is smallest number" ,c)
else :
  if b > c :
    print("b is smallest number" ,b)
  else :
    print("c is smallest number" ,c)

b is smallest number 35

In [ ]:
x, y = 10, 20
option = input("enter your choice option :")
match option :
  case '+' :
    print("sum of values" , x + y)
  case '-' :
    print("substraction of values" , x - y)
  case '*' :
    print("multiplication of values" , x * y)
  case '/' :
    print("division of values" , x / y)
  case '%' :
      print("modulus of values" , x % y)
  case '!=' :
        print("not eqale to of value",x!=y )
  case _ :
    print("invalide operator")

enter your choice option :!=
not eqale to of value True

In [ ]:
option = input("enter the day number: ")
match option:
    case '1':
        print('monday')
    case '2':
        print('tuesday')
    case '3':
        print('wednesday')
    case '4':
        print('thursday')
    case '5':
        print('friday')
    case '6':
        print('saturday')
    case '7':
        print('sunday')
    case _:
        print('holiday')

enter the day number: 5
friday

In [ ]:
option = input("enter the month number: ")
match option:
    case '1':
        print('juanaury')
    case '2':
        print('february')
    case '3':
        print('march')
    case '4':
        print('april')
    case '5':
        print('may')
    case '6':
        print('june')
    case '7':
        print('july')
    case '8':
        print('august')
    case '9' :
        print('september')
    case '10' :
        print('october')
    case '11' :
        print('november')
    case '12' :
        print('december')

enter the month number: 11
november

In [ ]:
i =1
while i <= 60 :
  print(i,end= " ")
  i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add =0
while i<=10 :
   add = add+i
   i = i+1
print("sum of  N Natural number is:" , add)

sum of  N Natural number is: 55

In [ ]:
num = 5
i = 1
while i<=10 :
    print("5 *",i,"=",num*i)
    i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num = 18
i = 1
while i<=10 :
  print("18*",i,"=",num*i)
  i = i+1

18* 1 = 18
18* 2 = 36
18* 3 = 54
18* 4 = 72
18* 5 = 90
18* 6 = 108
18* 7 = 126
18* 8 = 144
18* 9 = 162
18* 10 = 180

In [ ]:
num = 153
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

armstrong number

In [ ]:
num = 234
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

not armstrong number

In [ ]:
num = 112
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

not armstrong number

In [ ]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
  rev  = num % 10
  rev  = rev * 10 +rem
  num = num // 10
print("reverse number is:" ,rev)

reverse number is: 10

In [ ]:
num = 12321
rem = 0
rev = 0
temp = num
while num > 0 :
  rev  = num % 10
  rev  = rev * 10 +rem
  num = num // 10
  if temp == rev :
    print("palindrome number")
  else :
    print("not palindrome number")

not palindrome number
not palindrome number
not palindrome number
not palindrome number
not palindrome number

In [ ]:
 i = 1
 while i <= 100 :
  print(i, end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b = 10, 0, 1
i = 0
while i <= num :
  print(a, end = " ")
  a, b = b, a+b
  i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = 10
while i <= 1280 :
  print(i,end=" ")
  i*=2

1 2 4 8 16 32 64 128 256 512 1024

In [ ]:
colours = ['blue', 'red','pink','black']
print(type(colours))
for i in colours:
  print(i)

<class 'list'>
blue
red
pink
black

In [ ]:
numbers = {1,2,3,4,5,6,6,7,8,8,9}
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
Name = "KLE BK BCA College in chikodi"
rev = ""
for i in Name:
  rev = i + rev
print(rev)

idokihc ni egelloC ACB KB ELK

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum =0
for i in range(1,11):
  sum+=i
print("sum of  N Natural number is:", sum)

sum of  N Natural number is: 55

In [ ]:
num = 4
for i in range(1,11):
   print("4*",i,"=",num*i)
   i= i+1

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [ ]:
for i in range(2,101,2):
     print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact * i
print("factorial number is :", fact)

factorial number is : 120
factorial number is : 120

In [ ]:
a, b = 0,1
for i in range(1,11):
  print(a,end=" ")
  a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

In [ ]:
a = 5
b = 2
print(a//b)

2

In [ ]:
metal = "24kgold"
if metal[:2]=="24":
  print("pure gold")
else:
  print("not pure")

pure gold

In [ ]:
sentence = "python programming language"
count = 0
for ch in sentence :
  if ch in "aeiou":
    count+=1
print("Total vowels is :", count)

Total vowels is : 8

In [ ]:
base = 4
height = 5
triangle = 0.5 * base * height
print("area of triangle is :"  ,triangle)

area of triangle is : 10.0

In [ ]:
red = 4
area = 3.14 * red **2
print("area of circle is :" ,area)

area of circle is : 50.24

In [ ]:
ex = [5,25,35,28,45,10,15]
largest = ex[0]
for i in ex :
  if i > largest :
    largest = i
print("largest number is :" ,largest)

largest number is : 45

In [ ]:
sentence = "Bachelor of computer scince first semester section c"
count = 0
for ch in sentence :
  if ch in "consonents" :
    count +=1
print("Total consonents is :",count)

Total consonents is : 28

In [ ]:
bikes =["RX 100", "GT 650","Ninja","Splender","Bajaj","Pulsar","NS 200", "M 80","Unicorn"]
for bike in bikes :
  if bike == "NS 200" :
    break
  print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulsar

In [ ]:
colours = {"purple","pink","black", "white", "red","orenge", "levender","gray","yellow", "maroon"}
for color in colours :
  if color =="pink" :
    break
  print(color)

black
white
red
levender
orenge
maroon
gray
yellow
purple

In [ ]:
fruits = ("apple","orange","mango","strawberry","dragon fruit","greeps","banana","pinapal","pappaya","water melon")
for fruit in fruits :
  if fruit == "greeps" :
    continue
  print(fruit)

apple
orange
mango
strawberry
dragon frui
banana
pinapal
pappaya
water melon

In [ ]:
mobiles = ["vivo" , "redmi","oppo", "vivo","vivo","vivo","oppo","Iqee","vivo","1 plus"]
for mobile in mobiles:
  if mobile == "vivo" :
    continue
  print(mobile)

redmi
oppo
oppo
Iqee
1 plus

In [ ]:
mobiles = {"vivo" , "redmi","oppo", "vivo","vivo","vivo","oppo","Iqee","vivo","1 plus"}
for mobile in mobiles:
  if mobile == "vivo" :
    continue
  print(mobile)

Iqee
1 plus
redmi
oppo

In [ ]:
movies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "trance" :
    pass
  print(movie)

kgf
chhava
bahubali
saiyra
RRR
Kalki
kannadakagi ondannu otti

In [ ]:
movies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "trance" :
    contenue
  print(movie)

kgf
chhava
bahubali
saiyra
RRR
Kalki
kannadakagi ondannu otti

In [ ]:
movies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "trance" :
    break
  print(movie)

kgf
chhava
bahubali
saiyra
RRR
Kalki
kannadakagi ondannu otti

In [ ]:
omvies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "RRR" :
    break
  print(movie)

kgf
chhava
bahubali
saiyra

In [ ]:
for i in range(10):
  for j in range(10):
    print("10",end=" ")
  print()

10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10

In [ ]:
for i in range(10):
  for j in range(10):
    print("1 2 3 4 5 6 7 8 9 ",end=" ")
  print()

1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):
  for j in range(10):
    print(i,end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [ ]:
for i in range(1,10):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [ ]:
for i in range(1,10):
  for j in range(j):
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
for i in range(8):
    for j in range(0,i+1):
        print(" ",end="")
    for j in range(8):
        print("*",end=" ")
    print()

 * * * * * * * *
  * * * * * * * *
   * * * * * * * *
    * * * * * * * *
     * * * * * * * *
      * * * * * * * *
       * * * * * * * *
        * * * * * * * *

In [ ]:
row = 6
col = 6
for i in range(0,row):
  for j in range(0,col):
    if i == 0 or j== 0 or i == row-1 or j == col-1:
      print("*",end=" ")
    else:
        print(" ",end=" ")
  print()

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
for i in range (10):
 for j in range(i):
    print("*",end=" " )
 print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for k in range(0,i*2+1):
   print("*",end=" ")
 print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print(chr(65+j),end=" ")
 print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print(chr(97+j),end=" ")
 print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print("*",end=" ")
 print()
for i in range(0,num):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(0, num):
    print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * *
  * * * * * * *
    * * * * * * *
      * * * * * * *
        * * * * * * *
          * * * * * * *
            * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print("@",end=" ")
 print()
for i in range(0,num):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(0, (num-i)*2-1):
    print("@",end=" ")
  print()

            @
          @ @ @
        @ @ @ @ @
      @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @
        @ @ @ @ @
          @ @ @
            @

In [ ]:
# 1) example
def fun (num) :
   return num * num
print(fun(4))

16

In [ ]:
def add(a,b):
    print(f'addition of two numbers is {a+b}')
add(5,10)

addition of two numbers is 15

In [ ]:
def example(name, roll_num, section, department, college):
  print(f"my name is {name}, i'm studying {department}, college {college}. my roll_number is {roll_num} and i'm from {section}")
example("saki", "101", "c", "Computer Science", "kle")

my name is saki, i'm studying Computer Science, college kle. my roll_number is 101 and i'm from c

In [ ]:
def fun(name,game,time):
  print(f"I'm {name}; i'm playing {game} at {time} time")
fun(time = "evening", name = "saki", game = "cricket")

I'm saki; i'm playing cricket at evening time

In [ ]:
def laptop(name = "lenovo"):
    print("my laptop name is:",name)
laptop("dell")
laptop("hp")
laptop()
laptop("asus")

my laptop name is: dell
my laptop name is: hp
my laptop name is: lenovo
my laptop name is: asus

In [ ]:
def add(*args):
    total = 0
    for num in args :
      total+=num
    print("total value is :",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

total value is : 15
total value is : 18
total value is : 90

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}={value}")
print_details(name='basu',age=25,city='kathmandu')

name=basu
age=25
city=kathmandu

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f'my details is{key}and{value}')
print_details(course="BCA",Section = 'C',College = "BK College")
print_details(place = "Bengaluru")
print_details(roll_num = 101,T_Subject=7)

my details iscourseandBCA
my details isSectionandC
my details isCollegeandBK College
my details isplaceandBengaluru
my details isroll_numand101
my details isT_Subjectand7

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print( f'my details is {key} and {value}')
print_details( course = "BCA", Section = 'C', College = "BK College")
print_details( place = " Bengaluru ")
print_details( roll_num = 101, T_Subject = 7)
print_details( laptop = "lenovo", O_S = "Window", year = 2025, version = "Windows")

my details is course and BCA
my details is Section and C
my details is College and BK College
my details is place and  Bengaluru
my details is roll_num and 101
my details is T_Subject and 7
my details is laptop and lenovo
my details is O_S and Window
my details is year and 2025
my details is version and Windows

In [ ]:
def show_values (*args, **kwargs):
  print("positional arguments represented in tuple", args)
  print("key-words arguments represented in dict " ,kwargs)
show_values(1,2,3,4,name = "sakshi")

positional arguments represented in tuple (1, 2, 3, 4)
key-words arguments represented in dict  {'name': 'sakshi'}

In [ ]:
def show_values (*args, **kwargs):
  print("positional arguments represented in tuple", args)
  print("key-words arguments represented in dict " ,kwargs)
show_values(1,2,3,4,name = "sakshi")
show_values(5,8,1,10,student_class = "BCA C Section", gender = "female")

positional arguments represented in tuple (1, 2, 3, 4)
key-words arguments represented in dict  {'name': 'sakshi'}
positional arguments represented in tuple (5, 8, 1, 10)
key-words arguments represented in dict  {'student_class': 'BCA C Section', 'gender': 'female'}

In [ ]:
i = 1
fact = 1
while i<6 :
  fact = fact * i
  i+=1
print(fact)

120

In [ ]:
def sum (num):
  if num == 0 :
    return num
  else:
      return num +sum (num-1)
      sum(10)

In [ ]:
def sum (num):
  if num == 0 or num == 1:
    return num
  else:
    return num + sum (num-1)
num = 10
print("sum n natural num is :", sum(10))

sum n natural num is : 55

In [ ]:
def fibo (num):
  if num <= 1 :
    return num
  else:
      return fibo (num-1) + fibo(num-2)
      number = 7
for i in range(11) :
        print(fibo(i),end = " ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
name = "vasu"
print(name[:4])

vasu

In [ ]:
class fruit:
      colour = "orange"
      price = 250
      teste = "sweet"
      shape = "circle"
      def juices(self):
          print("good")
orange =fruit()
print(" orange colour is " ,orange .colour)
orange.juices()
print(orange.price)

 orange colour is  orange
good
250

In [ ]:
class flower :
      smell = "nice"
      petal = 5
      size = "medium"
      gender = "female"
      validity = 1.5
      def decoration(self):
          print("very nice")
      def gift(self):
          print("good")
      def  marriage(self):
           print("marriage")
      def death (self):
           print("this flower using for death time")
obj = flower()
obj . marriage()
print(obj.gender)
obj.decoration()
obj.gift()

marriage
female
very nice
good

In [ ]:
class fan  :
      colur = "black"
      wings = 3
      c_name = "bajaj"
      price = 1500
      warranty = "2 years"
      def start(self):
          print("when click on button it'll start")
      def speed (self):
          print("based on condition it'll move fast")
      def stop(self):
           print("when click on off button it'll stop")

obj = fan()
print(obj.c_name+" "+obj.warranty)
obj.stop()
obj.start()

bajaj 2 years
when click on off button it'll stop
when click on button it'll start

In [ ]:
def fun (name):
  print("my name is a ",name)
fun ("sakshi")

my name is a  sakshi

In [101]:
class Bank :
  def __init__(self,balance):
    self.balance = balance
  def Deposit(self, amount):
    self.balance += amount
  def Withdraw(self,amount):
    if amount <= self.balance:
      self.balance -= amount
      print("Transaction successfully")
    else:
        print("Insufficient balence")
  def re_balance(self):
      return self.balance

obj = Bank(1000)
print(obj.balance)
obj.Deposit(500)
print(obj.balance)
obj.Withdraw(700)
print(obj.balance)
obj.Deposit(1000)
print("current total balance is",obj.balance)
obj.Withdraw(2000)
print(obj.balance)
obj.Withdraw(1500)
print("current total balance is",obj.balance)

1000
1500
Transaction successfully
800
current total balance is 1800
Insufficient balence
1800
Transaction successfully
current total balance is 300

In [127]:
class student :
  def __init__(self,name,marks,Place):
    self.__name = name
    self.__marks = marks
    self.Place = Place
  def set_method(self,name,marks):
    self.__name = name
    self.__marks = marks
  def get_method(self):
    return self.__name+" "+str(self.__marks)

obj = student("Shrushti",85,"chikodi")
obj.set_method("sharath",69)
print(obj.get_method())

sharath 69

In [132]:
 #SINGLE INHERITANCE
 class parent :
    def Work(self):
      print("My parents are doing forming")
class Childern(parent):
  def study(self):
    print("I'm studying BCA in BK College")
ch = Childern()
ch.Work()
ch.study()

My parents are doing forming
I'm studying BCA in BK College

In [134]:
#MULTIPLE INHERITANCE
class Father :
  def Hi(self):
    print("My father is my first hero")

class Mother :
  def Hello(self):
    print("My mother is real queen")

class child(Father,Mother):
  def  bye(self):
    print("I'm working as a Freelancer")

obj = child()
obj.Hi()
obj.Hello()
obj.bye()

My father is my first hero
My mother is real queen
I'm working as a Freelancer

In [139]:
#MULTI LEVEL INHERITANS
class Grand_parents :
  def Formar(self):
    print("😵‍💫😵‍💫")
class parents(Grand_parents) :
  def House(self) :
    print("⚽️⚽️")
class child(parents) :
  def jolly(self):
    print("☑️☑️☑️")
obj = child()
obj.House()
obj.Formar()
obj.jolly()

⚽️⚽️
😵‍💫😵‍💫
☑️☑️☑️

In [144]:
#HIRARKEY INHERITANC
class parents :
  def Business(self):
    print("My parents are doing business")
class child1(parents) :
  def study(self):
    print("I'm studing BCA ")
class child2(parents):
  def study(self):
    print("I'm studing PUC")

ch = child1()
ch.Business()
ch.study()

obj = child2()
obj.Business()
obj.study()

My parents are doing business
I'm studing BCA
My parents are doing business
I'm studing PUC

In [146]:
#HYBRID INHERITANCE
class A:
  def hi (self):
    print("hiiiiiiiiii")
class B(A) :
  def Hello(self):
    print("Helooooooo")
class C(A) :
  def bye(self):
    print("byeeeeeeee")
class D(B,C):
  def good(self):
    print("good morning")
obj = D()
obj.hi()
obj.Hello()
obj.bye()
obj.good()

hiiiiiiiiii
Helooooooo
byeeeeeeee
good morning