In [ ]:
i = input("enter the value :i")
j = input("enter the value :j")
print(i +" " +j)

enter the value :iBK
enter the value :jcollege
BK college

In [ ]:
x = 100
y = 50
print(f'Addition of {x} and {y} value is = {x+y}')
print(f'Division of {x} and {y} value is = {x/y}')

Addition of 100 and 50 value is = 150
Division of 100 and 50 value is = 2.0

In [ ]:
name = "shrushti"
course = "MCA"
year = 2022
Department = "BCA"
pincode = 592216
print(f"Hi,Good morning My name is {name}, i have complited {course} in the {year}, corrently i'm wirking in KLE BK {Department}, college Chikkodi {pincode}")

Hi,Good morning My name is shrushti, i have complited MCA in the 2022, corrently i'm wirking in KLE BK BCA, college Chikkodi 592216

In [ ]:
x = 100
y = 50
print(f'addition of{x} and {y} value is = {x+y}')
print(f'substraction of{x} and {y} value is = {x-y}')
print(f'multiplication of{x} and {y} value is = {x*y}')
print(f'division of{x} and {y} value is = {x/y}')

addition of100 and 50 value is = 150
substraction of100 and 50 value is = 50
multiplication of100 and 50 value is = 5000
division of100 and 50 value is = 2.0

In [ ]:
Num1 = int(input("enter the value :"))
Num2 = int(input("enter the value :"))
print("Addision of two number is :" ,Num1 + Num2)
print()
print("substraction of two number is : " ,Num1 - Num2)
print()
print("Multiplication of two number is :" ,Num1 * Num2 )
print()
print("division of two number is :" ,Num1 / Num2)
print()
print("Floor Division of two is :" ,Num1 // Num2)
print()
print("Modulus of two numbers is : " ,Num1 % Num2)

enter the value :10
enter the value :5
Addision of two number is : 15

substraction of two number is :  5

Multiplication of two number is : 50

division of two number is : 2.0

Floor Division of two is : 2

Modulus of two numbers is :  0

In [ ]:
number1 = 35
number2 = 40
print(number1>number2)
print(number1<number2)
print(35==number2)
print(number1!=number2)
print(number1>=40)
print(number1<=number2)

False
True
False
True
False
True

In [ ]:
 a = 20
b = 35
c = 13
d = 10
print( a == b and c < d)
print( 13 != c and d < c)
print( b > a and d<c )
print(20 != a and c==b)
print(a<b or b==c)
print((not(a < b))and 100 < 200)
print(not(d ==10))
print(35 != d or (not(20==a)))
print(not(c<=b and (not(a<= c))))

False
False
True
False
True
False
False
True
False

In [ ]:
x = 10
print(x)
x -= 2
print(x)
x *= 5
print(x)
x //=3
print(x)
x **=2
print (x)
x %= 4
print(x)
x+=9
print(x)
x /=3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [ ]:
Num = 9
if Num < 10 :
  print("10 is a greater than 9")

10 is a greater than 9

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
  print("Login Successfully")

Login Successfully

In [ ]:
Ex = 59
if Ex == 58 :
  print("are you understand")

In [ ]:
Name  = "Shrushti"
if Name <= "BK" :
  print("My name is Shrushti")

In [ ]:
Num = int(input("enter a number value"))
if Num > 0 :
  print("positive number")
else :
    print("nagetive number")

enter a number value5
positive number

In [ ]:
num = int(input("enter a number value :"))
if num % 2 == 0:
  print("even number")
else :
  print("odd number")

enter a number value :45
odd number

In [ ]:
year = int(input("enter a year value :"))
if year % 4 == 0:
  print("Leap year")
else :
  print("Not Leap yesr")

enter a year value :2025
Not Leap yesr

In [ ]:
Age = int(input("enter a year value :"))
if Age >= 18:
  print("they are eligible for voting")
else :
  print("they have to wait")

enter a year value :24
they are eligible for voting

In [ ]:
User_id = "12MCA345"
Password = 121234
if User_id == "12MCA345" and Password == 121234:
  print("Login Successfully")
else :
  print("Login Failed")

Login Successfully

In [ ]:
user_id = input("enter user_id value")
password = int(input("enter password value :"))
if user_id == "college" and password ==1234 :
  print("login successfully")
else :
  print("Invalid credentials")

enter user_id valuecollege
enter password value :1234
login successfully

In [ ]:
marks =int(input("enter the marks :"))
if marks >= 85 :
  print("distinction")
elif marks >= 70 :
  print("frist class")
elif marks >=55 :
  print("second clas")
elif marks >=35 :
  print("just pass")
else :
  print("fail better luck next time")

enter the marks :88
distinction

In [ ]:
prize = input("enter the medal :")
if prize == "Gold" :
  print("first prize")
elif prize == "silver" :
  print("second prize")
elif prize == "bronze" :
  print("third prize")
elif prize == "certificatr" :
  print("samadankar bahuman")
else :
  print("better luck next chance")

enter the medal :silver
second prize

In [ ]:
signels = input("enter the signel :")
if signels == "red" :
  print("stop")
elif signels == "yellow" :
  print("ready")
elif signels == "green" :
  print("go")

enter the signel :red
stop

In [ ]:
num = int(input("enter the value"))
if num > 0 :
  if num == 0 :
    print("zero value")
  else :
    print("positive number")
else :
    print("nagetive number")

enter the value-8
nagetive number

In [ ]:
a,b,c = 25,35,15
if a >b :
  if a > c :
    print("a is greatest number")
  else :
    print("c is greatest number")
else :
  if b > c :
    print("b is greatest number")
  else :
    print("c is greatest number")

b is greatest number

In [ ]:
a,b,c = 25,35,15
if a >b :
  if a > c :
    print("a is smallest number" ,a)
  else :
    print("c is smallest number" ,c)
else :
  if b > c :
    print("b is smallest number" ,b)
  else :
    print("c is smallest number" ,c)

b is smallest number 35

In [ ]:
x, y = 10, 20
option = input("enter your choice option :")
match option :
  case '+' :
    print("sum of values" , x + y)
  case '-' :
    print("substraction of values" , x - y)
  case '*' :
    print("multiplication of values" , x * y)
  case '/' :
    print("division of values" , x / y)
  case '%' :
      print("modulus of values" , x % y)
  case '!=' :
        print("not eqale to of value",x!=y )
  case _ :
    print("invalide operator")

enter your choice option :!=
not eqale to of value True

In [ ]:
option = input("enter the day number: ")
match option:
    case '1':
        print('monday')
    case '2':
        print('tuesday')
    case '3':
        print('wednesday')
    case '4':
        print('thursday')
    case '5':
        print('friday')
    case '6':
        print('saturday')
    case '7':
        print('sunday')
    case _:
        print('holiday')

enter the day number: 5
friday

In [ ]:
option = input("enter the month number: ")
match option:
    case '1':
        print('juanaury')
    case '2':
        print('february')
    case '3':
        print('march')
    case '4':
        print('april')
    case '5':
        print('may')
    case '6':
        print('june')
    case '7':
        print('july')
    case '8':
        print('august')
    case '9' :
        print('september')
    case '10' :
        print('october')
    case '11' :
        print('november')
    case '12' :
        print('december')

enter the month number: 11
november

In [ ]:
i =1
while i <= 60 :
  print(i,end= " ")
  i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add =0
while i<=10 :
   add = add+i
   i = i+1
print("sum of  N Natural number is:" , add)

sum of  N Natural number is: 55

In [ ]:
num = 5
i = 1
while i<=10 :
    print("5 *",i,"=",num*i)
    i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num = 18
i = 1
while i<=10 :
  print("18*",i,"=",num*i)
  i = i+1

18* 1 = 18
18* 2 = 36
18* 3 = 54
18* 4 = 72
18* 5 = 90
18* 6 = 108
18* 7 = 126
18* 8 = 144
18* 9 = 162
18* 10 = 180

In [ ]:
num = 153
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

armstrong number

In [ ]:
num = 234
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

not armstrong number

In [ ]:
num = 112
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

not armstrong number

In [ ]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
  rev  = num % 10
  rev  = rev * 10 +rem
  num = num // 10
print("reverse number is:" ,rev)

reverse number is: 10

In [ ]:
num = 12321
rem = 0
rev = 0
temp = num
while num > 0 :
  rev  = num % 10
  rev  = rev * 10 +rem
  num = num // 10
  if temp == rev :
    print("palindrome number")
  else :
    print("not palindrome number")

not palindrome number
not palindrome number
not palindrome number
not palindrome number
not palindrome number

In [ ]:
 i = 1
 while i <= 100 :
  print(i, end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b = 10, 0, 1
i = 0
while i <= num :
  print(a, end = " ")
  a, b = b, a+b
  i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = 10
while i <= 1280 :
  print(i,end=" ")
  i*=2

1 2 4 8 16 32 64 128 256 512 1024

In [ ]:
colours = ['blue', 'red','pink','black']
print(type(colours))
for i in colours:
  print(i)

<class 'list'>
blue
red
pink
black

In [ ]:
numbers = {1,2,3,4,5,6,6,7,8,8,9}
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
Name = "KLE BK BCA College in chikodi"
rev = ""
for i in Name:
  rev = i + rev
print(rev)

idokihc ni egelloC ACB KB ELK

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum =0
for i in range(1,11):
  sum+=i
print("sum of  N Natural number is:", sum)

sum of  N Natural number is: 55

In [ ]:
num = 4
for i in range(1,11):
   print("4*",i,"=",num*i)
   i= i+1

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [ ]:
for i in range(2,101,2):
     print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact * i
print("factorial number is :", fact)

factorial number is : 120
factorial number is : 120

In [ ]:
a, b = 0,1
for i in range(1,11):
  print(a,end=" ")
  a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

In [ ]:
a = 5
b = 2
print(a//b)

2

In [ ]:
metal = "24kgold"
if metal[:2]=="24":
  print("pure gold")
else:
  print("not pure")

pure gold

In [ ]:
sentence = "python programming language"
count = 0
for ch in sentence :
  if ch in "aeiou":
    count+=1
print("Total vowels is :", count)

Total vowels is : 8

In [ ]:
base = 4
height = 5
triangle = 0.5 * base * height
print("area of triangle is :"  ,triangle)

area of triangle is : 10.0

In [ ]:
red = 4
area = 3.14 * red **2
print("area of circle is :" ,area)

area of circle is : 50.24

In [ ]:
ex = [5,25,35,28,45,10,15]
largest = ex[0]
for i in ex :
  if i > largest :
    largest = i
print("largest number is :" ,largest)

largest number is : 45

In [ ]:
sentence = "Bachelor of computer scince first semester section c"
count = 0
for ch in sentence :
  if ch in "consonents" :
    count +=1
print("Total consonents is :",count)

Total consonents is : 28

In [ ]:
bikes =["RX 100", "GT 650","Ninja","Splender","Bajaj","Pulsar","NS 200", "M 80","Unicorn"]
for bike in bikes :
  if bike == "NS 200" :
    break
  print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulsar

In [ ]:
colours = {"purple","pink","black", "white", "red","orenge", "levender","gray","yellow", "maroon"}
for color in colours :
  if color =="pink" :
    break
  print(color)

black
white
red
levender
orenge
maroon
gray
yellow
purple

In [ ]:
fruits = ("apple","orange","mango","strawberry","dragon fruit","greeps","banana","pinapal","pappaya","water melon")
for fruit in fruits :
  if fruit == "greeps" :
    continue
  print(fruit)

apple
orange
mango
strawberry
dragon frui
banana
pinapal
pappaya
water melon

In [ ]:
mobiles = ["vivo" , "redmi","oppo", "vivo","vivo","vivo","oppo","Iqee","vivo","1 plus"]
for mobile in mobiles:
  if mobile == "vivo" :
    continue
  print(mobile)

redmi
oppo
oppo
Iqee
1 plus

In [ ]:
mobiles = {"vivo" , "redmi","oppo", "vivo","vivo","vivo","oppo","Iqee","vivo","1 plus"}
for mobile in mobiles:
  if mobile == "vivo" :
    continue
  print(mobile)

Iqee
1 plus
redmi
oppo

In [ ]:
movies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "trance" :
    pass
  print(movie)

kgf
chhava
bahubali
saiyra
RRR
Kalki
kannadakagi ondannu otti

In [ ]:
movies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "trance" :
    contenue
  print(movie)

kgf
chhava
bahubali
saiyra
RRR
Kalki
kannadakagi ondannu otti

In [ ]:
movies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "trance" :
    break
  print(movie)

kgf
chhava
bahubali
saiyra
RRR
Kalki
kannadakagi ondannu otti

In [ ]:
omvies = ["kgf","chhava","bahubali","saiyra","RRR","Kalki","kannadakagi ondannu otti"]
for movie in movies :
  if movie == "RRR" :
    break
  print(movie)

kgf
chhava
bahubali
saiyra

In [ ]:
for i in range(10):
  for j in range(10):
    print("10",end=" ")
  print()

10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10
10 10 10 10 10 10 10 10 10 10

In [ ]:
for i in range(10):
  for j in range(10):
    print("1 2 3 4 5 6 7 8 9 ",end=" ")
  print()

1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9  1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):
  for j in range(10):
    print(i,end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [ ]:
for i in range(1,10):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [ ]:
for i in range(1,10):
  for j in range(j):
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
for i in range(8):
    for j in range(0,i+1):
        print(" ",end="")
    for j in range(8):
        print("*",end=" ")
    print()

 * * * * * * * *
  * * * * * * * *
   * * * * * * * *
    * * * * * * * *
     * * * * * * * *
      * * * * * * * *
       * * * * * * * *
        * * * * * * * *

In [ ]:
row = 6
col = 6
for i in range(0,row):
  for j in range(0,col):
    if i == 0 or j== 0 or i == row-1 or j == col-1:
      print("*",end=" ")
    else:
        print(" ",end=" ")
  print()

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
for i in range (10):
 for j in range(i):
    print("*",end=" " )
 print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for k in range(0,i*2+1):
   print("*",end=" ")
 print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print(chr(65+j),end=" ")
 print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print(chr(97+j),end=" ")
 print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print("*",end=" ")
 print()
for i in range(0,num):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(0, num):
    print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * *
  * * * * * * *
    * * * * * * *
      * * * * * * *
        * * * * * * *
          * * * * * * *
            * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
 for j in range(0,num-i-1):
   print(" ",end=" ")
 for j in range(0,i*2+1):
   print("@",end=" ")
 print()
for i in range(0,num):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(0, (num-i)*2-1):
    print("@",end=" ")
  print()

            @
          @ @ @
        @ @ @ @ @
      @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @
        @ @ @ @ @
          @ @ @
            @

In [ ]:
# 1) example
def fun (num) :
   return num * num
print(fun(4))

16

In [ ]:
def add(a,b):
    print(f'addition of two numbers is {a+b}')
add(5,10)

addition of two numbers is 15

In [ ]:
def example(name, roll_num, section, department, college):
  print(f"my name is {name}, i'm studying {department}, college {college}. my roll_number is {roll_num} and i'm from {section}")
example("saki", "101", "c", "Computer Science", "kle")

my name is saki, i'm studying Computer Science, college kle. my roll_number is 101 and i'm from c

In [ ]:
def fun(name,game,time):
  print(f"I'm {name}; i'm playing {game} at {time} time")
fun(time = "evening", name = "saki", game = "cricket")

I'm saki; i'm playing cricket at evening time

In [ ]:
def laptop(name = "lenovo"):
    print("my laptop name is:",name)
laptop("dell")
laptop("hp")
laptop()
laptop("asus")

my laptop name is: dell
my laptop name is: hp
my laptop name is: lenovo
my laptop name is: asus

In [ ]:
def add(*args):
    total = 0
    for num in args :
      total+=num
    print("total value is :",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

total value is : 15
total value is : 18
total value is : 90

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}={value}")
print_details(name='basu',age=25,city='kathmandu')

name=basu
age=25
city=kathmandu

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f'my details is{key}and{value}')
print_details(course="BCA",Section = 'C',College = "BK College")
print_details(place = "Bengaluru")
print_details(roll_num = 101,T_Subject=7)

my details iscourseandBCA
my details isSectionandC
my details isCollegeandBK College
my details isplaceandBengaluru
my details isroll_numand101
my details isT_Subjectand7

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print( f'my details is {key} and {value}')
print_details( course = "BCA", Section = 'C', College = "BK College")
print_details( place = " Bengaluru ")
print_details( roll_num = 101, T_Subject = 7)
print_details( laptop = "lenovo", O_S = "Window", year = 2025, version = "Windows")

my details is course and BCA
my details is Section and C
my details is College and BK College
my details is place and  Bengaluru
my details is roll_num and 101
my details is T_Subject and 7
my details is laptop and lenovo
my details is O_S and Window
my details is year and 2025
my details is version and Windows

In [ ]:
def show_values (*args, **kwargs):
  print("positional arguments represented in tuple", args)
  print("key-words arguments represented in dict " ,kwargs)
show_values(1,2,3,4,name = "sakshi")

positional arguments represented in tuple (1, 2, 3, 4)
key-words arguments represented in dict  {'name': 'sakshi'}

In [ ]:
def show_values (*args, **kwargs):
  print("positional arguments represented in tuple", args)
  print("key-words arguments represented in dict " ,kwargs)
show_values(1,2,3,4,name = "sakshi")
show_values(5,8,1,10,student_class = "BCA C Section", gender = "female")

positional arguments represented in tuple (1, 2, 3, 4)
key-words arguments represented in dict  {'name': 'sakshi'}
positional arguments represented in tuple (5, 8, 1, 10)
key-words arguments represented in dict  {'student_class': 'BCA C Section', 'gender': 'female'}

In [ ]:
i = 1
fact = 1
while i<6 :
  fact = fact * i
  i+=1
print(fact)

120

In [ ]:
def sum (num):
  if num == 0 :
    return num
  else:
      return num +sum (num-1)
      sum(10)

In [ ]:
def sum (num):
  if num == 0 or num == 1:
    return num
  else:
    return num + sum (num-1)
num = 10
print("sum n natural num is :", sum(10))

sum n natural num is : 55

In [ ]:
def fibo (num):
  if num <= 1 :
    return num
  else:
      return fibo (num-1) + fibo(num-2)
      number = 7
for i in range(11) :
        print(fibo(i),end = " ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
name = "vasu"
print(name[:4])

vasu

In [ ]:
class fruit:
      colour = "orange"
      price = 250
      teste = "sweet"
      shape = "circle"
      def juices(self):
          print("good")
orange =fruit()
print(" orange colour is " ,orange .colour)
orange.juices()
print(orange.price)

 orange colour is  orange
good
250

In [ ]:
class flower :
      smell = "nice"
      petal = 5
      size = "medium"
      gender = "female"
      validity = 1.5
      def decoration(self):
          print("very nice")
      def gift(self):
          print("good")
      def  marriage(self):
           print("marriage")
      def death (self):
           print("this flower using for death time")
obj = flower()
obj . marriage()
print(obj.gender)
obj.decoration()
obj.gift()

marriage
female
very nice
good

In [ ]:
class fan  :
      colur = "black"
      wings = 3
      c_name = "bajaj"
      price = 1500
      warranty = "2 years"
      def start(self):
          print("when click on button it'll start")
      def speed (self):
          print("based on condition it'll move fast")
      def stop(self):
           print("when click on off button it'll stop")

obj = fan()
print(obj.c_name+" "+obj.warranty)
obj.stop()
obj.start()

bajaj 2 years
when click on off button it'll stop
when click on button it'll start

In [ ]:
def fun (name):
  print("my name is a ",name)
fun ("sakshi")

my name is a  sakshi

In [ ]:
class Bank :
  def __init__(self,balance):
    self.balance = balance
  def Deposit(self, amount):
    self.balance += amount
  def Withdraw(self,amount):
    if amount <= self.balance:
      self.balance -= amount
      print("Transaction successfully")
    else:
        print("Insufficient balence")
  def re_balance(self):
      return self.balance

obj = Bank(1000)
print(obj.balance)
obj.Deposit(500)
print(obj.balance)
obj.Withdraw(700)
print(obj.balance)
obj.Deposit(1000)
print("current total balance is",obj.balance)
obj.Withdraw(2000)
print(obj.balance)
obj.Withdraw(1500)
print("current total balance is",obj.balance)

1000
1500
Transaction successfully
800
current total balance is 1800
Insufficient balence
1800
Transaction successfully
current total balance is 300

In [ ]:
class BCA_1st_Semister :
   def student (self,a,b=0,c=0,d=0):
      return a+b+c+d
BCA = BCA_1st_Semister()
print(BCA.student(5))
print(BCA.student(10,7,8))
print(BCA. student(-10,4,9,-5))
print (BCA . student(99,0,4,-12))

5
25
-2
91

In [ ]:
class animal :
  def sound(self):
    print("animal makes a sound")
class dog :
  def sound(self):
     print("bow bow bow")
class cat :
   def sound(self):
     print("meow meow meow")
class snake :
   def sound(self):
     print("buuussssss")
obj1 = animal()
obj2 = dog()
obj3 = cat()
obj4 = snake()
obj1.sound()
obj2.sound()
obj3.sound()
obj4.sound()

animal makes a sound
bow bow bow
meow meow meow
buuussssss

In [ ]:
class book :
   def __init__(self,page):
    self.page = page
   def __add__ (self,other):
      return self.page + other.page
obj1 = book(200)
obj2 = book(300)
print("total pages",obj1+obj2)

total pages 500

In [ ]:
from abc import ABC,abstractmethod
class vehicle (ABC):
  def sound (self):
    pass
class car (vehicle):
  def sound(self):
      print("i'm driving a car")
Obj = car()
Obj.sound()

i'm driving a car

In [ ]:
#absraction example
from abc import ABC,abstractmethod
class game(ABC):
  #normal function / method
  def free_fire(self):
    print("winner winner chicken dinner")
  #abstract function / method
  @abstractmethod
  def BGMI(self):
      pass
  #normal function / method
  def ludo_king(self):
        print("i'm win the game")
  def chess (self):
          print("i'm a district player")

class temple_run(game):
    def BGMI(self):
        print("Playing BGMI")

obj = temple_run()
obj.BGMI()
obj.ludo_king()
obj.chess()

Playing BGMI
i'm win the game
i'm a district player

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
# QUIZ COMPITATION
def ask_question(question, options, answer):
    print("\n", question)
    for key, value in options.items():
        print(f"{key}. {value}")

    user_choice = input("Enter your choice (a/b/c/d):").lower()

    match user_choice:
        case 'a' | 'b' | 'c' | 'd':
            if user_choice == answer:
                print(" correct answer!")
                return 1
            else:
                print(" wrong answer!")
                return 0
        case _:
            print(" invalid choice")
            return 0

print(" welcome to python quiz compitation")
player_name = input("Enter your name:")
score = 0
questions = [
    {"q": "1)which of the following is a valid variable name?",
     "options": {"a": "1var", "b": "varl", "c": "var-1", "d": "var_1"}, "ans": "d"},

    {"q": "2)what is the output of:x=5;x+=3;print(x)",
     "options": {"a": "8", "b": "53", "c": "5", "d": "error"}, "ans": "a"},

    {"q": "3)which of the following is immutable?",
     "options": {"a": "list", "b": "set", "c": "tuple", "d": "dictionary"}, "ans": "c"},

    {"q": "4)type of 3.14 in python?",
     "options": {"a": "int", "b": "float", "c": "complex", "d": "double"}, "ans": "b"},

    {"q": "5)which of these is a dictionary?",
     "options": {"a": "[1,2,3]", "b": "(1,2,3)", "c": "{'a':1}", "d": "{1,2,3}"}, "ans": "c"},

    {"q":"6) what is output of len ({1,2,3,4})?","options":{"a":"3","b":"4","c":"0","d":"Error"},"ans":"b"},

    {"q":"7)output of 5**2?","options":{"a":"10","b":"25","c":"7","d":"52"},"ans":"b"},

    {"q":"8)Which operator is floor division?","options":{"a":"/","b":"//","C":"%","d":"**"},"ans":"b"},

    {"q":"9)Output of: if5>3:\n print('Yes)","options":{"a":"Yes","b":"No","c":"Error","d":"5>3"},"ans":"a"},

    {"q":"10)Which keyword is used for else-if","options":{"a":"elseif","b":"elif","c":"else if","d":"elifse"},"ans":"b"},

    {"q":"11) Which loop is used when number of iterations is known?","options":{"a":"for","b":"while",
     "c":"do-while ","d":"none"},"ans":"a"},

     {"q":"12) How to exit a loop immediately?","options":{"a":"stop","b":"break","c":"exit","d":"return"},"ans":"b"},

     {"q":"13)Keyword to define a function?","options":{"a":"function","b":"def","c":"fun","d":"define"},"ans":"b"},

     {"q":"14)Function that returns nothing?","options":{"a":"return None","b":"void","c":"pass",
      "d":"All of the above"},"ans":"a"},

      {"q":"15)Which method is constructor in pythonclass?","options":{"a":"__init__","b":"__start__","c":"__create__",
        "d":"contructor"},"ans":"a"},

      {"q":"16)Which of thise is inheritance example?","options":{"a":"class A:\n pass\nclass B(A):\n pass","b":"x=5",
        "c":"def func():pass","d":"if true:pass"},"ans":"a"},

      {"q":"17)What is a type of True?","options":{"a":"int","b":"bool","c":"str","d":"float"},"ans":"b"},

      {"q":"18)Which collection type allow duplication?","options":{"a":"list","b":"Tuple","c":"set",

      "d":"dictionary"},"ans":"b"},

      {"q":"19)Which collection type allow unordered?","options":{"a":"List","b":"Tuple","c":"Set","d":"string"},
       "ans":"c"},

      {"q":"20)Output of 10%3?","options":{"a":"3","b":"1","c":"0","d":"Error"},"ans":"b"},

      {"q":"21)Output of:\nfor i in range(3):\n print(i)","options":{"a":"1 2 3","b":"0 1 2","c":"0 1 2 3","d":"1 2"},
       "ans":"b"},

      {"q":"22)Encapsulation in python is done by?","options":{"a":"Privet Veriables","b":"Inheritance","c":"Polymarphism",
       "d":"Abstraction"},"ans":"a"},

     {"q":"23)Polymorphism means?","options":{"a":"Multipule","b":"Single foem","c":"Inheritance",
      "d":"Encapsulation"},"ans":"a"},

     {"q":"24)Dynamic type mean?","options":{"a":"Type assigned at runtime","b":"Type assigned at complite-time",
      "c":"Fixed type","d":"Error"},"ans":"c"},

    {"q":"25)Which opretor is used for logical AND?","options":{"a":"and","b":"&","C":"&&","d":" "},"ans":"a"},

    {"q":"26) Output: x=5;print('Yes'ifx>0 else'No')","options":{"a":"Yes","b":"No","c":"Error","d":"5>3"},"ans":"a"},

    {"q":"27)Output:\ni=0\nwhilei<3:\n print(i)\n i+=1","options":{"a":"0 1 2","b":"0 1","c":"0 1 2 3","d":"1 2"},
     "ans":"a"},

    {"q":"28)Which returns a value?","options":{"a":"print()","b":"return","c":"pass","d":"input()"},"ans":"b"},

    {"q":"29)Abstraction means?","options":{"a":"Hiding implimentation","b":"Overloding","c":"Inheritance",
     "d":"Pollymorphism"},"ans":"a"},

    {"q":"30)Which is mutable string type?","options":{"a":"str","b":"list","c":"tupel","d":"int"},"ans":"b"},

    {"q":"31)Which keyword is used to inherit?","options":{"a":"inherits","b":"super","c":"class B(A)",
      "d":"extend"},"ans":"c"},

    {"q":"32)Output of bool('')?","options":{"a":"True","b":"False","c":"None","d":"Error"},"ans":"b"},

    {"q":"33)What dose pass do?","options":{"a":"skip","b":"Exit","c":"print","d":"Return"},"ans":"a"},

    {"q":"34)Which opretor is floor division?","options":{"a":"/","b":"//","c":"%","d":"**"},"ans":"b"},

    {"q":"35)How to creat a tuple with single element?","options":{"a":"(1)","b":"(1,)","c":"[1]","d":"{1}"},"ans":"b"},

    {"q":"36)Output of 2*3**2?","options":{"a":"10","b":"18","c":"7","d":"None"},"ans":"b"},

    {"q":"37)Which of these is not keyword?","options":{"a":"pass","b":"eval","c":"assert","d":"return"},"ans":"b"},

    {"q":"38)Which method converts string to lowercase?","options":{"a":"lower()","b":"up()","c":"capitalize()",
      "d":"lowercase()"},"ans":"a"},

    {"q":"39)Which collection stores key-value pairs?","options":{"a":"list","b":"tuple","c":"dictionry",
      "d":"set"},"ans":"c"},

    {"q":"40)Output of 5**2?","options":{"a":"10","b":"25","c":"7","d":"52"},"ans":"b"}
]

for q in questions:
    score += ask_question(q["q"], q["options"], q["ans"])
print("\n....RESULT.....")
print(f'Player:{player_name}')
print(f'Your SCORE:{score}/{len(questions)}')

if score == len(questions):
  print("Exellent! Full Markes")
elif score>=25:
      print("Good Job,Keep Practicing")
else :
      print("Need Improvement")


print(f"\n{player_name}, your final score is: {score}/{len(questions)}")

 welcome to python quiz compitation
Enter your name:Shrushti s haragapure

 1)which of the following is a valid variable name?
a. 1var
b. varl
c. var-1
d. var_1
Enter your choice (a/b/c/d):d
 correct answer!

 2)what is the output of:x=5;x+=3;print(x)
a. 8
b. 53
c. 5
d. error
Enter your choice (a/b/c/d):a
 correct answer!

 3)which of the following is immutable?
a. list
b. set
c. tuple
d. dictionary
Enter your choice (a/b/c/d):c
 correct answer!

 4)type of 3.14 in python?
a. int
b. float
c. complex
d. double
Enter your choice (a/b/c/d):b
 correct answer!

 5)which of these is a dictionary?
a. [1,2,3]
b. (1,2,3)
c. {'a':1}
d. {1,2,3}
Enter your choice (a/b/c/d):c
 correct answer!

 6) what is output of len ({1,2,3,4})?
a. 3
b. 4
c. 0
d. Error
Enter your choice (a/b/c/d):b
 correct answer!

 7)output of 5**2?
a. 10
b. 25
c. 7
d. 52
Enter your choice (a/b/c/d):b
 correct answer!

 8)Which operator is floor division?
a. /
b. //
C. %
d. **
Enter your choice (a/b/c/d):b
 correct answer!

 9)Output of: if5>3:
 print('Yes)
a. Yes
b. No
c. Error
d. 5>3
Enter your choice (a/b/c/d):a
 correct answer!

 10)Which keyword is used for else-if
a. elseif
b. elif
c. else if
d. elifse
Enter your choice (a/b/c/d):b
 correct answer!

 11) Which loop is used when number of iterations is known?
a. for
b. while
c. do-while
d. none
Enter your choice (a/b/c/d):a
 correct answer!

 12) How to exit a loop immediately?
a. stop
b. break
c. exit
d. return
Enter your choice (a/b/c/d):b
 correct answer!

 13)Keyword to define a function?
a. function
b. def
c. fun
d. define
Enter your choice (a/b/c/d):b
 correct answer!

 14)Function that returns nothing?
a. return None
b. void
c. pass
d. All of the above
Enter your choice (a/b/c/d):a
 correct answer!

 15)Which method is constructor in pythonclass?
a. __init__
b. __start__
c. __create__
d. contructor
Enter your choice (a/b/c/d):a
 correct answer!

 16)Which of thise is inheritance example?
a. class A:
 pass
class B(A):
 pass
b. x=5
c. def func():pass
d. if true:pass
Enter your choice (a/b/c/d):a
 correct answer!

 17)What is a type of True?
a. int
b. bool
c. str
d. float
Enter your choice (a/b/c/d):b
 correct answer!

 18)Which collection type allow duplication?
a. list
b. Tuple
c. set
d. dictionary
Enter your choice (a/b/c/d):b
 correct answer!

 19)Which collection type allow unordered?
a. List
b. Tuple
c. Set
d. string
Enter your choice (a/b/c/d):c
 correct answer!

 20)Output of 10%3?
a. 3
b. 1
c. 0
d. Error
Enter your choice (a/b/c/d):b
 correct answer!

 21)Output of:
for i in range(3):
 print(i)
a. 1 2 3
b. 0 1 2
c. 0 1 2 3
d. 1 2
Enter your choice (a/b/c/d):b
 correct answer!

 22)Encapsulation in python is done by?
a. Privet Veriables
b. Inheritance
c. Polymarphism
d. Abstraction
Enter your choice (a/b/c/d):a
 correct answer!

 23)Polymorphism means?
a. Multipule
b. Single foem
c. Inheritance
d. Encapsulation
Enter your choice (a/b/c/d):a
 correct answer!

 24)Dynamic type mean?
a. Type assigned at runtime
b. Type assigned at complite-time
c. Fixed type
d. Error
Enter your choice (a/b/c/d):c
 correct answer!

 25)Which opretor is used for logical AND?
a. and
b. &
C. &&
d.
Enter your choice (a/b/c/d):a
 correct answer!

 26) Output: x=5;print('Yes'ifx>0 else'No')
a. Yes
b. No
c. Error
d. 5>3
Enter your choice (a/b/c/d):a
 correct answer!

 27)Output:
i=0
whilei<3:
 print(i)
 i+=1
a. 0 1 2
b. 0 1
c. 0 1 2 3
d. 1 2
Enter your choice (a/b/c/d):a
 correct answer!

 28)Which returns a value?
a. print()
b. return
c. pass
d. input()
Enter your choice (a/b/c/d):b
 correct answer!

 29)Abstraction means?
a. Hiding implimentation
b. Overloding
c. Inheritance
d. Pollymorphism
Enter your choice (a/b/c/d):a
 correct answer!

 30)Which is mutable string type?
a. str
b. list
c. tupel
d. int
Enter your choice (a/b/c/d):b
 correct answer!

 31)Which keyword is used to inherit?
a. inherits
b. super
c. class B(A)
d. extend
Enter your choice (a/b/c/d):c
 correct answer!

 32)Output of bool('')?
a. True
b. False
c. None
d. Error
Enter your choice (a/b/c/d):b
 correct answer!

 33)What dose pass do?
a. skip
b. Exit
c. print
d. Return
Enter your choice (a/b/c/d):a
 correct answer!

 34)Which opretor is floor division?
a. /
b. //
c. %
d. **
Enter your choice (a/b/c/d):b
 correct answer!

 35)How to creat a tuple with single element?
a. (1)
b. (1,)
c. [1]
d. {1}
Enter your choice (a/b/c/d):b
 correct answer!

 36)Output of 2*3**2?
a. 10
b. 18
c. 7
d. None
Enter your choice (a/b/c/d):b
 correct answer!

 37)Which of these is not keyword?
a. pass
b. eval
c. assert
d. return
Enter your choice (a/b/c/d):b
 correct answer!

 38)Which method converts string to lowercase?
a. lower()
b. up()
c. capitalize()
d. lowercase()
Enter your choice (a/b/c/d):a
 correct answer!

 39)Which collection stores key-value pairs?
a. list
b. tuple
c. dictionry
d. set
Enter your choice (a/b/c/d):c
 correct answer!

 40)Output of 5**2?
a. 10
b. 25
c. 7
d. 52
Enter your choice (a/b/c/d):b
 correct answer!

....RESULT.....
Player:Shrushti s haragapure
Your SCORE:40/40
Exellent! Full Markes

Shrushti s haragapure, your final score is: 40/40

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [2]:
import numpy as Shrushti
arr = Shrushti.array([1,2,3,4,5])
print("NumPy Array:",arr)

NumPy Array: [1 2 3 4 5]

In [4]:
import numpy as np
zeros = np.zeros(5)
ones = np.ones(5)
print("Zeros:",zeros)
print("ones:",ones)

Zeros: [0. 0. 0. 0. 0.]
ones: [1. 1. 1. 1. 1.]

In [5]:
import numpy as np
a = np.array([10,20,30])
b = np.array([1,2,3])
print("Addition:", a+b)
print("Multiplication:",a*b)

Addition: [11 22 33]
Multiplication: [10 40 90]

In [7]:
import numpy as np
arr = np.array([1,4,9,16])
print("square Root:",np.sqrt(arr))
print("Mean:",np.mean(arr))

square Root: [1. 2. 3. 4.]
Mean: 7.5

In [17]:
import numpy as np
from scipy import stats
data = np.array([2,4,6,8,10,12,16])
mean = np.mean(data)
print("Mean value is :",mean)
meadian = np.median(data)
print("meadian value is :",meadian)
Range = np.max(data) - np.min(data)
print("Range value is :",Range)
mode = stats.mode(data)
print("mode value is :",mode)

Mean value is : 8.285714285714286
meadian value is : 8.0
Range value is : 14
mode value is : ModeResult(mode=np.int64(2), count=np.int64(1))

In [18]:
import numpy as np
matrix = np.array([[1,2],[3,4]])
print("Matrix:\n",matrix)
print("Transpose:\n",matrix.T)

Matrix:
 [[1 2]
 [3 4]]
Transpose:
 [[1 3]
 [2 4]]